h1{
    width: 100%;
    height: 102px;
    margin-bottom: 11px;

    position: sticky;
    top: 67px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    
    color: #293845;
}
.data-user{
    box-sizing: border-box;
    padding: 0 25px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap:7px;
}
h2{
    width: 100%;
    height: 25px;

    
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: #293845;
}
input{
    width: 100%;
    height: 51px;

    box-sizing: border-box;
    padding-left: 18px;

    font-family: Roboto;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    
    color: #AFAFAF;
    background: #FFFFFF;

    border: 1px solid #D5D5D5;
    border-radius: 3px;
}
.reserve-seat {
    width: 100%;
    height: 130px;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    width: 225px;
    height: 42px;

    
    border-radius: 3px;
    border: 0;
    
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #E8833A;
    color: #FFFFFF;
}
.seats{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;

    box-sizing: border-box;
    padding: 0 25px;
}
div .seat, .type-available .seat{
    width: 26px;
    height: 26px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
    border-radius: 12px;

    margin-bottom: 11px;
    
    font-family: Roboto;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.04em;
    
    border: 1px solid #808F9D;
    background: #C3CFD9;
    color: #000000;
}
div .seat.selected{
    width: 26px;
    height: 26px;
    background: #8DD7CF;
    border: 1px solid #45BDB0;
}
.seat.unavailable{
    width: 26px;
    height: 26px;
    background: #FBE192;
    border: 1px solid #F7C52B;
}
.type-seats{
    
    width: 100%;
    display: flex;
    justify-content: center;
    gap:25px;
    margin-bottom: 40px;
}
.type-seats div{
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;    

    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.013em;
    
    color: #4E5A65;
}